body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Jatekter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.lampa{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.fel{
  background-color: yellow;
  box-shadow: 0 0 50px rgb(255,238,0);
}
.le{
  background-color: black;
}